:root {
  --flexoki-red-600-rgb: rgba(175, 48, 41, 0.5);
  --flexoki-red-400-rgb: rgba(209, 77, 65, 0.5);
  --flexoki-cyan-600-rgb: rgba(36, 131, 123, 0.3);
  --flexoki-cyan-400-rgb: rgba(58, 169, 159, 0.3);
}

:root[color-scheme="light"] {
  color-scheme: light;
  --color-highlight-1: var(--flexoki-red-600-rgb);
  --color-highlight-2: var(--flexoki-cyan-400-rgb);
  --color-highlight-3: rgba(187,220,206,0.3);
}

:root[color-scheme="dark"] {
  color-scheme: dark;
  --color-highlight-1: var(--flexoki-red-400-rgb);
  --color-highlight-2: var(--flexoki-cyan-600-rgb);
  --color-highlight-3: rgba(30,95,91,0.3);
}

/* Aspects. */
.Agda .Comment       { color: var(--color-re);               }
.Agda .Background    {                                       }
.Agda .Markup        { color: var(--color-tx-normal);        }
.Agda .Keyword       { color: var(--color-or);               }
.Agda .String        { color: var(--color-re);               }
.Agda .Number        { color: var(--color-pu);               }
.Agda .Symbol        { color: var(--color-tx-muted);         }
.Agda .PrimitiveType { color: var(--color-bl);               }
.Agda .Pragma        { color: var(--color-tx-normal);        }
.Agda .Operator      {                                       }
.Agda .Hole          { background: var(--color-highlight-2); }

/* NameKinds. */
.Agda .Bound                  { color: var(--color-tx-normal); }
.Agda .Generalizable          { color: var(--color-tx-normal); }
.Agda .InductiveConstructor   { color: var(--color-gr);        }
.Agda .CoinductiveConstructor { color: var(--color-ye);        }
.Agda .Datatype               { color: var(--color-bl);        }
.Agda .Field                  { color: var(--color-ma);        }
.Agda .Function               { color: var(--color-bl);        }
.Agda .Module                 { color: var(--color-pu);        }
.Agda .Postulate              { color: var(--color-bl);        }
.Agda .Primitive              { color: var(--color-bl);        }
.Agda .Record                 { color: var(--color-bl);        }

/* OtherAspects. */
.Agda .DottedPattern        {                                                                      }
.Agda .UnsolvedMeta         { color: var(--color-tx-normal); background: var(--color-highlight);   }
.Agda .UnsolvedConstraint   { color: var(--color-tx-normal); background: var(--color-highlight);   }
.Agda .TerminationProblem   { color: var(--color-tx-normal); background: var(--color-highlight-1); }
.Agda .IncompletePattern    { color: var(--color-tx-normal); background: #F5DEB3;                  }
.Agda .Error                { color: var(--color-re-2);      text-decoration: underline;           }
.Agda .TypeChecks           { color: var(--color-tx-normal); background: var(--color-highlight-3); }
.Agda .Deadcode             { color: var(--color-tx-normal); background: var(--color-tx-faint);    }
.Agda .ShadowingInTelescope { color: var(--color-tx-normal); background: var(--color-tx-faint);    }

/* Standard attributes. */
.Agda a                      { text-decoration: none                       }
.Agda a[href]:hover          { background-color: var(--color-highlight-2); }
.Agda [href].hover-highlight { background-color: var(--color-highlight-2); }

body {
  background-color: var(--color-bg-primary);
  color: var(--color-tx-normal);
}
