/*! Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

/* Global CSS variables */
:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);
  --font-family-monospace: "Fira Code", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  --font-size-base: 1.8rem;
  --main-gap: 13px;
  --main-width: 90ch;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family-monospace: "Fira Code VF", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  }
}

/* Body */
html {
  font-family: var(--font-family-base);
  font-size: 62.5%;
  overflow-y: scroll;
}

@supports (scrollbar-gutter: stable both-edges) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
  }
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-tx-normal);
  font-size: var(--font-size-base);
  line-height: 1.618;
  margin: auto;
  max-width: calc(var(--main-width) + 2 * var(--main-gap));
  padding: var(--main-gap);
  position: relative;
}

@media (max-width: 684px) {
  body {
    font-size: calc(var(--font-size-base) * 0.85);
  }
}

@media (max-width: 382px) {
  body {
    font-size: calc(var(--font-size-base) * 0.75);
  }
}

h1, h2, h3, h4, h5, h6 {
  -ms-word-break: break-all;
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

h1 { font-size: 2.35em; }
h2 { font-size: 2.00em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p {
  margin-bottom: 2.5rem;
  margin-top: 0px;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border-color: var(--color-ui-normal);
  width: 100%;
}

a, a:visited {
  color: var(--color-tx-normal);
}

a:hover {
  color: var(--color-cy);
}

ul {
  margin-bottom: 2.5rem;
  margin-top: 0px;
  padding-left: 1.4em;
  list-style-type: inherit;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  background-color: var(--color-bg-secondary);
  border-left: 5px solid var(--color-tx-muted);
  margin-bottom: 2.5rem;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 0.8em;
  padding-top: 0.8em;
}

blockquote p {
  margin-bottom: 0;
}

mark {
  background-color: var(--color-highlight);
  color: var(--color-tx-normal)
}

img, video {
  height: auto;
  margin-bottom: 2.5rem;
  margin-top: 0px;
  max-width: 100%;
}

/* Pre and Code */
pre {
  background-color: var(--color-bg-secondary);
  display: block;
  font-family: var(--font-family-monospace);
  font-size: 0.9em;
  margin-bottom: 2.5rem;
  margin-top: 0px;
  overflow-x: auto;
  padding: 1em;
}

code, kbd, samp {
  background-color: var(--color-bg-secondary);
  font-family: var(--font-family-monospace);
  font-size: 0.9em;
  padding: 0 0.5em;
  white-space: pre-wrap;
}

pre > code {
  font-size: 1em;
  padding: 0;
  white-space: pre;
}

/* Tables */
table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: justify;
  width: 100%;
}

td, th {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 0.5em;
}
tbody tr:nth-child(odd) {
  background-color: var(--color-bg-secondary);
}

/* Definition lists */
dt {
  font-weight: 700;
}

/* Details */
details > :not(summary) {
  padding-left: 1em;
}
