<entry>
    <title>{{ title }}</title>
    <link href="{{ site.url }}/{{ slug }}"/>
    <id>{{ site.url }}/{{ slug }}</id>
    <published>{{ published.iso8601 }}</published>
    <updated>{{ updated.iso8601 }}</updated>
    <content type="html">{{ body }}</content>
</entry>
