{
  "id": "$root$$url$",
  "url": "$root$$url$",
  "content_html": "{{ body }}",
  "title": "$title$",
  "date_published": "{{ published-iso8601 }}$",
  "date_modified": "{{ updated-iso8601 }}",
  "tags": [{{ tags }}]
}
