{
  "id": "{{ site.url }}/{{ slug }}",
  "url": "{{ site.url }}/{{ slug }}",
  "content_html": "{{& body }}",
  "title": "{{ title }}",
  "date_published": "{{ published }}",
  "date_modified": "{{ updated }}",
  "tags": [{{ tags }}]
}
